
body {
    display: grid;
    justify-items: center;
    background-color: #f2e9e4;
    background-image: url("https://i.imgur.com/0Vcgj8k.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    font-family: Ubuntu; 
}

#content {
    display: grid;
    justify-items: center;
    width: 500px;
    background-color: white;
    border-radius: 20px;
}

div {
    margin-bottom: 10px;
}

h1 {
    color: #4a4e69;
}
#description {
    max-width: 400px;
    line-height: 25px;
}

/* Active box */
#guitar-img {
    height: 100%;
}

#ready-box {
    display: grid;
    justify-content: center;
}

#notes-box {
    top: 300px; 
    left: 300px;
    font-size: 90px;
    display: grid;
    justify-items: center;
    justify-content: center;
    width: 300px;
    height: 227px;
    color: #4a4e69;
}

#sheet {
    width: 300px;
    position: relative; 
}

#qnote {
    display: none;
    position: relative;
    top: -95px; 
    left: 10px;
}

.lines {
    display: none;
    position: relative; 
    transform: rotate(180deg);    
    top: -60px; 
    left: 10px;
}

#lines1 {
    display: none;
}

#lines2 {
    display: none;
}

#lines3 {
    display: none;
}

#sharp-img {
    position: relative; 
    display: none;
    top: -135px;
    left: -25px;
}


#flat-img {
    position: relative; 
    display: none;
    top: -165px;
    left: -25px;
}

/* Freatboard */
#active-box {
    display: grid;
    justify-items: center;
}

#help-box{
    width: 300px;
    height: 113px;
}

#freat-img {
    width: 100%;
}


.dot {
    position: relative;
    left: 52px;
    height: 9px;
    width: 9px;
    background-color: #f8961e;
    border-radius: 50%;
    display: inline-block;
    
  }
#dot-E {
    top: -27px;
    left: 39px;

}

#dot-A {
    top: -43px;
    left: 30px;

}

#dot-D {
    top: -58px;
    left: 22px;
}

#dot-G {
    top: -73px;
    left: 13px;

}

#dot-B {
    top: -90px;
    left: 4px;

}

#dot-e {
    top: -105px;
    left: -5px;

}

.circle {
    position: relative;
    border-style: solid;
    border-radius: 50%/50%; 
    width: 14px;
    height: 14px;
    background-color: rgba(0, 0, 0, 0);
    color: #f8961e;
    margin: 0px;
    left: 17px;
}


#circle-one {
    top: -49px;
}

#circle-two {
    top: -141px;
}

/* Settings */
#settings {
    text-align: center;
    line-height: 30px;
    display: grid;
    justify-items: center;
}

#speed {
    width: 60px;
}

#timer {
    width: 60px;
}
.buttons {
    width: 130px;
    height: 60px;
    color: white;
    background-color: #4a4e69;
    border: 2px solid white;
    border-radius: 200px;
    font-family: Ubuntu;
    font-weight: bold;
}
.buttons:hover{
    background-color: #c9ada7;

}

footer {
    color: white;
}
#footer-link {
    color:#4a4e69;
    font-weight: bold;
    text-decoration: none;
}

#footer-link:hover {
   font-size: 17px;
}

@media only screen and (max-width: 600px) {

    #content {
        width: 300px;
    }

    div {
        margin-bottom: 7px;
        margin-top: 7px;
    }

    #description {
        display: none;
        width: 300px;
    }

    #notes-box {
        width: 300px;
    }

    #sheet {
        width: 300px;
    }
}